
<h2>Selecione</h2>
<br />
@Html.ActionLink("Cadastrar Cliente Utilizando JQUERY E VIEW TIPADA", "CadastrarComJquery", "ClienteCad")
<br />
@Html.ActionLink("Cadastrar Cliente Utilizando RAZOR", "Cadastrar", "ClienteCad")
